* {
  margin: 0;
  padding: 0;
}
  
  header {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: #fff;
  }
  
  h1 {
    font-size: 200%;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }
  
  nav a {
    color: #b9c6ae;
    font-weight: bold;
  }

  .picture-img a {
    color: #b9c6ae;
    font-size: 40px; 
  }

  .picture-img a:hover {
color: aqua;
  }
  
  nav a:hover {
    color: #fff;
  }
  
  main {
    display: flex;
    flex: 1 1 0;
    max-width: 1200px;
    margin: 2% auto;
  }
  
  section {
    flex: 1 1 0;
    padding-right: 5%;
  }
  
  article {
    border-bottom: 1px solid #d8a47f;
  }

  .hero {
    height: 400px;
    width: 105%;
    margin-bottom: 25px;
    background-image: url("../images/marek-piwnicki-m-V1ICQC0_Y-unsplash.jpg");
    background-size: cover;
    background-position: center;
}
.subheader {
  size: 50px;
  width: 300px;
  font-size: 40px; 
     background-size: cover;
  }

.hero a {
  size: 50px;
  width: 300px;
  font-size: 40px;
   background-size: cover;
}
.hero :hover {
  color: #13293d;
}

 h2 {
  color: #fff;
 }

.paragraph-image {
  color: #b9c6ae;
  max-height: 200px;
}

.box1 {
   background-color: rgb(2, 0, 84) ;
}
.box2 {
   background-color: rgb(11, 5, 127) ;
}
.box3 {
     background-color: rgb(7, 27, 180) ;
}
.box4 {
   background-color: rgb(5, 5, 215) ;
}
.box5 {
     background-color: rgb(28, 50, 247) ;
}
.box6 {
   background-color: rgb(83, 100, 251) ;
}
.box7 {
  background-color:rgb(118, 142, 250) ;
}
.box8 {
   background-color: rgb(187, 194, 255) ;
}

.content {
   color: black;
   font-size: 50px;
    text-align: center;
    font-family: sans-serif;
    text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
    float: right;
       margin-left: 1000px;
}

.content :hover {
    color: violet;
    background-color:#6f4323 ;
}

.toltip {
  width: 500px;
  height: 10px;
display: flex;
align-items: top;
justify-content: right;
margin-left: 500px;
}

.toltip  {
position: relative;
cursor: pointer;
padding: 7px;
font-size: 50px;
font-weight: bold;
font-family: sans-serif;
}
 
.tooltiptext {
  font-size: 25px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: rotateX('50%');
  background-color: black;
  color: #fff;
  white-space: nowrap ;
padding: 10px 15px;
border-radius: 7px;
visibility: hidden;
opacity: 0;
transition: opacity 0.5s ease;
}
.tooltiptext::before{
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: transLatex('-50%');
  border: #13293d #000 #0000 #0000;
}

.toltip:hover .tooltiptext{
  top: 100%;
  visibility: visible;
  opacity: 1;
}

 .HTML  {
margin-bottom: 0px;
}
.HTML {
  width: 500px;
  height: 10px;
display: flex;
align-items: top;
justify-content: right;
margin-left: 500px;
}

.HTML  {
position: relative;
cursor: pointer;
padding: 7px;
font-size: 50px;
font-weight: bold;
font-family: sans-serif;
}
 
.HTMLtext {
  font-size: 25px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: rotateX('50%');
  background-color: black;
  color: #fff;
  white-space: nowrap ;
padding: 10px 15px;
border-radius: 7px;
visibility: hidden;
opacity: 0;
transition: opacity 0.5s ease;
}
.HTMLtext::before{
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: transLatex('-50%');
  border: #13293d #000 #0000 #0000;
}

.HTML:hover .HTMLtext{
  top: 100%;
  visibility: visible;
  opacity: 1;
}

.SQL {
  width: 500px;
  height: 10px;
display: flex;
align-items: top;
justify-content: right;
margin-left: 500px;
}

.SQL  {
position: relative;
cursor: pointer;
padding: 7px;
font-size: 50px;
font-weight: bold;
font-family: sans-serif;
}
 
.SQLtext {
  font-size: 25px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: rotateX('50%');
  background-color: black;
  color: #fff;
  white-space: nowrap ;
padding: 10px 15px;
border-radius: 7px;
visibility: hidden;
opacity: 0;
transition: opacity 0.5s ease;
}
.SQLtext::before{
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: transLatex('-50%');
  border: #13293d #000 #0000 #0000;
}

.SQL:hover .SQLtext{
  top: -130%;
  visibility: visible;
  opacity: 1;
}

.CSS {
  width: 500px;
  height: 10px;
display: flex;
align-items: top;
justify-content: right;
margin-left: 500px;
}

.CSS  {
position: relative;
cursor: pointer;
padding: 7px;
font-size: 50px;
font-weight: bold;
font-family: sans-serif;
}
 
.CSStext {
  font-size: 25px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: rotateX('50%');
  background-color: black;
  color: #fff;
  white-space: nowrap ;
padding: 10px 15px;
border-radius: 7px;
visibility: hidden;
opacity: 0;
transition: opacity 0.5s ease;
}
.CSStext::before{
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: transLatex('-50%');
  border: #13293d #000 #0000 #0000;
}

.CSS:hover .CSStext{
  top: -130%;
  visibility: visible;
  opacity: 1;
}


.float {
 background-size: cover;
  
}
.pictures p {
  display: flex;
  display: inline-block;
  font-size: 16px;
}
section {
  width: 105%;
  height: 100%;
  display: inline-block;
  font-size: 16px;
  color: #d8a47f;
 }
 

#picture-1 {
  display: flex;
  padding: 1%;
    background-color: #0255a3;
  }

#picture-2 {
    display: flex;
    background-color: #13293d;
    background-size: cover;

   
}

#picture-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0258a9;
  background-size: cover;
  background-position: center;
}

#picture-4 {
    display: flex;
    background-color: #13293d;
    background-size: 300px ; 
     background-size: cover;
    background-position: center;
  
}

#picture-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #02529e;
  background-size: cover;
  background-position: center;
}


footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: #13293d;
    color: #fff;
  }

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: #fff;
}
  footer span ::-ms-thumb {
    position: relative;
    text-decoration: underline;
    color: #00f;
    cursor: grab;
  }