
   * {
   margin: 0%;
   }
   body {
   background-image: url("./WeakCarefreeCurlew-size_restricted.gif");

   }

  header {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: bisque;
  color: rgb(77, 72, 72);
  }

  h1 {
  font-size: 200%;
  }

  nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  }
  nav a {
  color: #272826;
  font-weight: bold;
  }
  .picture-img a {
  color: #bfc1be;
  font-size: 40px; 
  padding: 100px;
  text-shadow:  -10px -10px 5px rgb(89, 89, 89);
  }
  nav a:hover {
  color: rgb(47, 21, 21);
  }
  article {
  border-bottom: 1px solid #5a5755;
  }

  span {
  color: #464341;
  }

  img {
  width: 300px;
  height: 400px;
  float: left;
  margin-left: 20px;
  box-shadow: -20px -20px 15px rgb(66, 62, 62);
   
  } 
 
  .picture-img a:hover {
  color: rgb(17, 37, 37);
        }

  .hero {
  margin: 150px;
  justify-content: center; 
  color: #46403b;
  height: 400px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../images/sincerely-media-HoEYgBL_Gcs-unsplash.jpg");
  background-size: cover;
  background-position: center;

}
.text { 
  display: inline-table;
  justify-content: center;
  size: 50px; 
  width:80%; 
  font-size: 40px;  
  background-size: cover; 
  text-align:justify;
  text-shadow:  -10px -10px 5px gray;
  }   

.hero a {
  size: 50px;
  width: 300px;
  font-size: 40px;
  background-size: cover;
  text-align:center;
  text-shadow:  -10px -10px 5px gray;

}
.hero :hover {
 color: #1f252c;
}

.top {
  display: flex;
  size: 50px;
  width: 300px;
  font-size: 40px; 
  display:inline-table;
  margin-left: 500px;
  }

 h2 {
  color: rgb(45, 22, 22);
 }

.paragraph-image {
  color: #858783;
  max-height: 200px;
}

.box1 {
  background-color: rgb(150, 33, 33) ;
}
.box2 {
  background-color: rgb(169, 79, 79) ;
}
.box3 {
  background-color: rgb(196, 110, 110) ;
}
.box4 {
  background-color: rgb(198, 145, 145) ;
}
.box5 {
  background-color: rgb(161, 136, 136) ;
}
.box6 {
  background-color:rgb(167, 143, 143) ;
}
.box7 {
  background-color:rgb(175, 165, 165) ;
}
.box8 {
  background-color:rgb(223, 214, 214) ;
}

 .content {
  color: black;
  font-size: 50px;
  text-align: center;
  font-family: sans-serif;
  text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
  float: right;
  margin-left: 1000px;
  text-shadow:  -10px -10px 5px gray;
}

.content :hover {
  color: violet;
  background-color:#6f4323 ;
}

.toltip {
 width: 500px;
 height: 10px;
 margin-top: 0;
 justify-content: right;
 margin-left: 500px;
 text-shadow:  -10px -10px 5px gray;
}

.toltip  {
position: relative;
cursor: pointer;
font-size: 50px;
font-weight: bold;
font-family: sans-serif;
}
 
.tooltiptext {
font-size: 25px;
position: absolute;
left: 50%;
top: 0;
transform: rotateX('50%');
background-color: black;
color: rgb(215, 206, 206);
white-space: nowrap ;
padding: 10px 15px;
border-radius: 7px;
visibility: hidden;
opacity: 0;
transition: opacity 0.5s ease;

}
.tooltiptext::before{
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: transLatex('-50%');
}

.toltip:hover .tooltiptext {
  top: 100%;
  visibility: visible;
  opacity: 1;
}

.HTML {
  width: 500px;
  height: 10px;
  display: flex;
  align-items: top;
  justify-content: center;
  margin-left: 400px;
  text-shadow:  -10px -10px 5px gray;
}

.HTML  {
position: relative;
cursor: pointer;
padding: 7px;
font-size: 50px;
font-weight: bold;
font-family: sans-serif;
}
 
.HTMLtext {
  font-size: 25px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: rotateX('50%');
  background-color: black;
  color: rgb(215, 206, 206);
  white-space: nowrap ;
  padding: 10px 15px;
  border-radius: 7px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.HTMLtext::before{
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: transLatex('-50%');
}

.HTML:hover .HTMLtext{
  top: 100%;
  visibility: visible;
  opacity: 1;
}

.SQL {
  width: 500px;
  height: 10px;
  margin-top: 0;
  justify-content: right;
  margin-left: 500px;
  text-shadow:  -10px -10px 5px gray;
}

.SQL  {
position: relative;
cursor: pointer;
font-size: 50px;
font-weight: bold;
font-family: sans-serif;
}
 
.SQLtext {
  font-size: 25px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: rotateX('50%');
  background-color: black;
  color:  rgb(215, 206, 206);
  white-space: nowrap ;
  padding: 10px 15px;
  border-radius: 7px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.SQLtext::before{
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: transLatex('-50%');
}

.SQL:hover .SQLtext {
  top: 100%;
  visibility: visible;
  opacity: 1;
}

.CSS {
  width: 500px;
  height: 10px;
  display: flex;
  align-items: bottom;
  justify-content: right;
  margin-left: 200px;
  text-shadow:  -10px -10px 5px gray;
}

.CSS  {
position: relative;
cursor: pointer;
padding: 7px;
font-size: 50px;
font-weight: bold;
font-family: sans-serif;
}
 
.CSStext {
  font-size: 25px;
  position: absolute;
  left: 50%;
  top: 0;
  background-color: black;
  color:  rgb(215, 206, 206);
  white-space: nowrap ;
  padding: 10px 15px;
  border-radius: 7px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.CSStext::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
}

.CSS:hover .CSStext {
  top: -130%;
  visibility: visible;
  opacity: 1;
}


.float {
 
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: initial ; 
  box-shadow: 30 30 20 #818589;
}

.pictures {
  padding: 0%;
  width: 105%;
  height: 100%;
  display: inline-block;
  font-size: 16px;
  color: #a29790;

 }
 

#picture-1 {

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(147, 128, 128);
  background-size: cover;
  background-position: center;
  }

#picture-2 {
   display: flex;
   background-color: rgb(156, 116, 116);
   background-size: cover;

   
}

#picture-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:  rgb(147, 128, 128);
  background-size: cover;
  background-position: center;
}

#picture-4 {
    display: flex;
    background-color: rgb(156, 116, 116);
    background-size: 300px ; 
    background-size: cover;
    background-position: center;
  
}

#picture-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(147, 128, 128);
  background-size: cover;
  background-position: center;
}

.footer {
  height: 100px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding: 1%;
  background-color: #a8b1ba ;
  color: rgb(51, 46, 46);
  font-style: italic;
}


  .footer span ::-ms-thumb {
    position: relative;
    text-decoration: underline;
    color: rgb(125, 125, 136);
    cursor: grab;
   
  }